.RedditSkeletonItem {
  border-radius: $border-radius;
  margin: 2rem 0;
  padding: 2.5rem;
  height: 62rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: $bg-light;
  position: relative;
  overflow: hidden;

  .text-sm {
    width: 15%;
    background: #dee6ec;
    border-radius: $border-radius;
    min-height: 1.6rem;
  }

  .text-lg {
    width: 50%;
    background: #b1b7bd;
    border-radius: $border-radius;
    min-height: 1.8rem;
  }

  .thumbnail {
    width: 100%;
    height: 100%;
    background: #dee6ec;
  }

  &::after {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 60%,
      rgba(#fff, 0)
    );
    animation: shimmer 2s infinite;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

@media (max-width: 610px) {
  .RedditSkeletonItem {
    max-height: 35rem;
    .thumbnail {
      max-height: 30rem;
    }
  }
}
