.RedditListContainer {
  margin: 0 auto;
  min-height: 100%;
  padding: 6rem 2.5rem 2rem 2.5rem;
  background-color: $bg-dark;

  .error {
    color: $danger;
    height: 5rem;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 610px) {
  .RedditListContainer {
    width: 600px;
  }
}
