@forward "./variables.scss" as var*;
@import "./variables.scss";
@import '../components/app';
@import '../components/redditListContainer';
@import '../components/redditListItem';
@import './reset';

html {
  font-family: $main;
  font-size: 10px;
}

body {
  background-color: $bg;
  color: $text-light;
  font-size: 1.4rem;
}

html, body, #root, .App {
  height: 100%;
}