@forward "./variables.scss" as var*;
@import "./variables.scss";
@import '../components/redditListContainer';
@import '../components/redditListItem';
@import './reset';

html {
  font-family: $Poppins;
  font-size: 10px;
}

body {
  background-color: $bg;
  color: $light;
  font-size: 1.4rem;
}

button {
  @include btn($action, $light);
}