// VARIABLES

// fonts
$main: 'Noto Sans', sans-serif;

// colors
$text-dark: #000000;
$text-light: #787C7E;
$bg: #f4e7e7 ;
$bg-light: #ffffff;
$bg-dark: #cbdadb;
$danger: rgb(240, 73, 73);

// border-radius
$border-radius: 0.5rem;


